# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

build

logs/
run/
coverage/
newrelic_*

yarn.lock

data/
config/config.local.js
config/config.prod.js
config/config.rls.js
config/config.unittest.js
config/config.*.js
archive.zip
*.gz
repositories/
